body {
  background-color: #08090F;
  color: #AD7C74;
  width: 80%;
  min-width: 960px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 14px;
  font-family: arial;
}

h1 {
  color: #ADADAD;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  color: #4D7D30;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

#link {
  text-decoration: none;
}

h1 a {
  color: #ADADAD;
}

a {
  color: #AD7C74;
}

#header {
  margin-bottom: 50px;
  line-height: 25px;
}

#header h1 {
  font-size: 2.5em;
  margin: 0px;
  padding: 0px;
}

#header h2 {
  margin: 0px;
  padding: 0px;
}

.title {
  line-height: 25px;
  margin-bottom: 10px;
  padding: 0px;
}

.comment {
  font-size: 0.9em;
  font-style: italic;
  text-indent: 10px;
}

hr {
  display: none;
}

#article {
  margin-top: 20px;
  border-top: 1px solid #4D7D30;
}

.highlight {
  background-color: #05060A;
  border: 1px solid #4D7D30;
  margin: 10px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: auto;
}

#post_header {
  height: 80px;
}

#post_header img {
  float: left;
  border: 2px solid #ADADAD;
  margin-right: 20px;
}
